[Unit]
Description=Plays When Battery Low

[Service]
Type=oneshot
ExecStart=/usr/bin/aplay -D pulse /usr/share/phyos/sounds/battery-low.wav

[Install]
WantedBy=default.target
