[Unit]
Description=Play USB Disconnect Sound

[Service]
Type=oneshot
ExecStart=/usr/bin/aplay /usr/share/phyos/sounds/disconnect.wav

[Install]
WantedBy=default.target
