[Unit]
Description=Play USB Connect Sound

[Service]
Type=oneshot
ExecStart=/usr/bin/aplay /usr/share/phyos/sounds/connect.wav

[Install]
WantedBy=default.target
