ACTION=="change", SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_NAME}=="AC0", ENV{POWER_SUPPLY_ONLINE}=="1", RUN+="/bin/sh -c '[[ $(cat /tmp/acstat) != '1' ]] && /usr/share/phyos/util-scripts/pOS-cpufreq $(cat /usr/share/phyos/config/power/ac) && echo 1 > /tmp/acstat'", RUN+="/bin/pkill -RTMIN+3 dwmblocks"
ACTION=="change", SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_NAME}=="AC0", ENV{POWER_SUPPLY_ONLINE}=="0", RUN+="/bin/sh -c '[[ $(cat /tmp/acstat) != '0' ]] && /usr/share/phyos/util-scripts/pOS-cpufreq $(cat /usr/share/phyos/config/power/bat) && echo 0 > /tmp/acstat'", RUN+="/bin/pkill -RTMIN+3 dwmblocks"
