[Unit]
Description=Play USB sound

[Service]
Type=oneshot
Environment="XDG_RUNTIME_DIR=/run/user/1000"
ExecStart=/usr/bin/aplay /usr/share/phyos/sounds/connect.wav
